html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
p{
    color: black; 
}
.head{
    padding-left: 2.5em;
    padding-right: 2.5em;
    background-color: rgb(114, 74, 151);
    border: 2px solid blue;
}
.c{
    padding-left: 2.5em;
    padding-right: 2.5em;
    border:2px solid rgb(74, 12, 218) ;
    background-color: rgb(168, 121, 63);
    font-family: 'Courier New', Courier, monospace;
}
hr{
    margin: 0;
    border:1px solid rgb(43, 226, 119) ;
}
.k{
    padding-left: 2.5em;
    padding-right: 2.5em;
    border:2px solid rgb(59, 32, 155) ;
    background-color: rgb(207, 25, 41);
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 2.5em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    text-align: center;
    background: rgb(116, 121, 201);
    color: rgb(51, 13, 22);
    font-weight: lighter;
    border: 2px solid rgb(35, 4, 121);
    margin-bottom: 06px;
}
.bColur{
    color: aqua;
}